@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	background-color: #edecec;
  }

body
{
	font-family: 'Poppins', sans-serif;
}

.back
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    
	filter: brightness(1);
}

/* CURSOR */


@media screen and (max-width: 1200px){
	.cursor,.cursor2,.cursor3{
		display: none
	}
}

.container
{
	display: flex;
  	justify-content: center;
}

.clock {
	position: relative;
	margin-top: 1rem;
	right: 1;
	width: 12rem;
    height: 5rem;
	backdrop-filter: blur(4px);
	border-radius: 0.3rem;
	margin-bottom: 2rem;
}

.wrapper {
	text-align: center;
}
#time {
	font-size: 35px;
	display: inline-block;
	color: #000000;
}
#dia {
	position: relative;
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #000000;
	text-align: center;
}
#meio {
	display: inline-block;
	font-size: 20px;
	color: #000000;
}

.vidro
{
	position: absolute;
	text-align: center;
	border-radius: 0.3rem;
	top: 6.2rem;
	width: 25rem;
    height: 31em;
	backdrop-filter: blur(6px);
}

.text
{
	margin-top: 1rem;
	font-size: 30px;
    letter-spacing: 5px;
	color: #010101;
    /* color: #ff0266; */
	margin-bottom: 1rem;
}

.menu_login{
	height: 27.5em;
}
.menu_login .logar,
.cadastrar{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
	
}
.logar
{
	margin-top: 3rem;
}
.form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.menu_login .sign-in,
.menu_login .sign-up,
.form .caixa .check{
	display:none;
}
.menu_login .tab,
.form .caixa .label,
.form .caixa .button{
	text-transform:uppercase;
}
.menu_login .tab{
	font-size: 22px;
	cursor: pointer;
	color: #000000;
	margin:10px 40px 15px 50px;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.menu_login .sign-in:checked + .tab,
.menu_login .sign-up:checked + .tab{
	color:#852ee9;
	border-color:#852ee9;
}
.form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.form .caixa .label,
.form .caixa .input,
.form .caixa .button{
	width:100%;
	color: #852ee9;
	font-size: 16px;
	display:block;
}
.form .caixa .input,
.form .caixa .button{
	border:none;
	padding:15px 20px;
	margin-bottom: 1rem;
	border-radius:8px;
	background:#dcdcdc;
}
.form .caixa label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:#852ee9;
}
#mantenha
{
	margin-bottom: 1rem;
}

.form .caixa label .icon:before,
.form .caixa label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background: 852ee9;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.form .caixa label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.form .caixa label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.form .caixa .check:checked + label{
	color:#fff;
}
.form .caixa .check:checked + label .icon{
	background:#852ee9;
}
.form .caixa .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.form .caixa .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.menu_login .sign-in:checked + .tab + .sign-up + .tab + .form .logar{
	transform:rotate(0);
}
.menu_login .sign-up:checked + .tab + .form .cadastrar{
	transform:rotate(0);
}
.logar .caixa input:focus ~ label,
.logar .caixa input:valid ~ label {
    color: black;
}

.foot-lnk
{
	color: black;
}
.foot-lnk label
{
	cursor: pointer;
}

input:focus{
	outline: none;
	box-shadow: 0 0 5px #852ee9,
                
}

#entrar, #cadastro
{
	transition: .3s;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 5px;
}

#entrar:hover {
    background: #852ee9;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #852ee9,
                
  }
#cadastro:hover {
    background: #852ee9;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 15px #852ee9,
                
  }

 